{% extends "base.html" %}
{% from "macros.html" import field_form %}

{% block head %}

{% endblock %}


{% block body %}
    <div class="login">
        <h3>请输入您的邮箱地址<small>我们将用来向您的邮箱发送一份验证邮件，确保是您本人自己在操作</small></h3>
        <form class="form-horizontal login-input" method="post">
            {{ forgetpassword_form.csrf_token }}
            <div class="form-group">{{ field_form(forgetpassword_form.email,class="form-control" ,id="inputEmail3" ,placeholder="Email") }}</div>
        <div class="login-add">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">确定</button>
                </div>
            </div>
            <p></p>
            <p></p>
        </div>

        </form>









    </div>

{% endblock %}