{% extends "base.html" %}
{% from "macros.html" import field_form %}

{% block head %}

{% endblock %}



{% block body %}

    <div class="register">
    <h3>现在可以重置您的密码了</h3>
      <form class="register-input" method="post">
          {{ resetpassword_form.csrf_token }}
          <div class="form-group">{{ field_form(resetpassword_form.email,class="form-control" ,id="email") }}</div>
          <div class="form-group">{{ field_form(resetpassword_form.password,class="form-control", id="pwd") }}</div>
          <div class="form-group">{{ field_form(resetpassword_form.password2,class="form-control", id="pwd") }}</div>
          <button type="submit" class="btn btn-block btn-success btn-lg">确定</button>

      </form>
    </div>


{% endblock %}